<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>
<body>
    <h1 id="home_heading">Home</h1>
    <p id = "home_p">Welcome to the Jungle User</p>
    <div id="home_div">
        <button onclick="location.href='/register'">Register</button>
        <button onclick="location.href='/login'">Login</button>
    </div>
</body>
</html>